<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>

    <plugin name="robot_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>$(arg namespace)/odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>$(arg namespace)/base_link</robotBaseFrame>
      <cmdTimeout>0.5</cmdTimeout>
    </plugin>
    
  </gazebo>

</robot>
