<launch>

  <arg name="namespace" default="" />

  <!-- navigation common params-->
  <rosparam file="$(find turn_on_wheeltec_robot)/param_common/local_costmap_params.yaml"      command="load" ns="move_base"/>
  <rosparam file="$(find turn_on_wheeltec_robot)/param_common/global_costmap_params.yaml"     command="load" ns="move_base"/>
  <rosparam file="$(find turn_on_wheeltec_robot)/param_common/move_base_params.yaml"          command="load" ns="move_base"/>
  <rosparam file="$(find turn_on_wheeltec_robot)/param_common/base_global_planner_param.yaml" command="load" ns="move_base"/>
  
  <param name="move_base/base_local_planner"    type="string" value="teb_local_planner/TebLocalPlannerROS"/>


  <!-- Arguments参数 -->
  <arg name="car_mode"  default="" />

  <!-- car_mode and params-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find turn_on_wheeltec_robot)/costmap_common_params/param_$(arg car_mode)/teb_local_planner_params.yaml"  command="load"/>
    <rosparam file="$(find turn_on_wheeltec_robot)/costmap_common_params/param_$(arg car_mode)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turn_on_wheeltec_robot)/costmap_common_params/param_$(arg car_mode)/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <param name="local_costmap/global_frame" value="$(arg namespace)/map" />
    <param name="local_costmap/robot_base_frame" value="$(arg namespace)/base_link" />
    <param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg namespace)/laser_link" />

    <param name="global_costmap/global_frame" value="$(arg namespace)/map" />
    <param name="global_costmap/robot_base_frame" value="$(arg namespace)/base_link" />
    <param name="global_costmap/obstacle_layer/scan/sensor_frame" value="$(arg namespace)/laser_link" />

    <param name="TebLocalPlannerRos/map_frame" value="$(arg namespace)/map" />
    <param name="TebLocalPlannerRos/odom_topic" value="$(arg namespace)/robot_pose_ekf/odom_combined" />
  </node>

</launch>


