<launch>

<arg name="namespace" default="robot" />

<group ns="$(arg namespace)">
  <!-- <include file="$(find turn_on_wheeltec_robot)/launch/mapping.launch" > -->
  <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch" >
    <arg name="navigation"  value="false"/>
    <arg name="namespace" value="$(arg namespace)" />
  </include>
</group>

</launch>
